/* From Uiverse.io by faxriddin20 */
.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  border-radius: 250px;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  gap: 32px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgb(138, 138, 138);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  text-decoration: none;
}

.containerOne:hover {
  background-color: #229ed9; /* Telegram */
}

.containerTwo:hover {
  background-color: #24292e; /* GitHub */
}

.containerThree:hover {
  background-color: #0072b1; /* LinkedIn */
}

.containerFour:hover {
  background-color: #d44638; /* Gmail */
}

.socialContainer:active {
  transform: scale(0.9);
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: white;
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
